@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 50px 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto 50px;
}

.header h1 {
  color: #607d8b;
}

.header button {
  border: none;
  outline: none;
  background-color: #713fff;
  border-radius: 14px;
  box-shadow: 0 6px 12px rgba(113, 63, 255, 0.25);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  padding: 13px 30px;
}

body {
  background-color: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tasks .task-card {
  list-style: none;
  padding: 22px 30px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 6px 58px rgba(196, 203, 214, 0.104);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-card span {
  font-size: 14px;
  color: #91929e;
  font-weight: 400;
  margin-bottom: 7px;
}

.task-name h3 {
  color: #0a1629;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.task-priority h3 {
  font-size: 14px;
  font-weight: 700;
}

.task-progress {
  background: hsla(217, 9%, 53%, 0.14);
  border: none;
  border-radius: 8px;
  color: #7d8592;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  padding: 7px 14px;
}

.task-progress-circle {
  width: 24px;
  height: 24px;
}

.high-proproty-color {
  color: red;
}
.medium-proproty-color {
  color: yellow;
}
.low-proproty-color {
  color: green;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.192);
}

.modal {
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 6px 58px rgba(121, 145, 173, 0.196);
  min-height: 200px;
  padding: 40px 60px;
  width: 40%;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal-header button {
  height: 20px;
  width: 20px;
  background-image: url(./assets/close.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-task-input {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-task-input input {
  padding: 15px;
  border-radius: 10px;
  outline: none;
  border: 1px solid grey;
}

.modal-task-priority {
  margin-bottom: 20px;
}

.task-priority-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.task-priority-buttons button {
  padding: 10px 0px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 90px;
}

.task-priority-buttons .high {
  border: 1px solid red;
  color: red;
}

.task-priority-buttons .high-selected {
  border: none;
  color: white;
  background-color: red;
}

.task-priority-buttons .medium {
  border: 1px solid yellow;
  color: yellow;
}

.task-priority-buttons .medium-selected {
  border: none;
  color: white;
  background-color: yellow;
}

.task-priority-buttons .low {
  border: 1px solid green;
  color: green;
}

.task-priority-buttons .low-selected {
  border: none;
  color: white;
  background-color: green;
}

.modal-add-task {
  background: #713fff;
  border: none;
  border-radius: 14px;
  box-shadow: 0 6px 12px rgba(113, 63, 255, 0.25);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  padding: 13px 30px;
}

.modal-add-task:disabled {
  background-color: #7d8592;
  cursor: not-allowed;
}

.task-delete {
  background-image: url(../src/assets/recycle-bin.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.task-edit {
  background-image: url(./assets/edit.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .App {
    padding: 50px 10%;
  }

  .header h1 {
    font-size: 25px;
  }

  .header button {
    padding: 5px 10px;
  }

  .modal {
    padding: 40px 40px;
    width: 80%;
  }

  .tasks .task-card {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
  }
}
